<mat-toolbar color="primary">
  <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
  <!--      <mat-icon>menu</mat-icon>-->
  <!--    </button>-->
  <span>Função Quadrática</span>

</mat-toolbar>

<mat-card>
  <h1>Função quadrática</h1>
  <div class="equation-container">
    <ng-katex equation="f(x) = ax^2 + bx + c"></ng-katex>
  </div>
  <mat-divider></mat-divider>
  <p>Função quadrática de coeficientes: a, b e c reais com:</p>

  <div class="fields-container">
    <mat-form-field appearance="fill">
      <mat-label>A</mat-label>
      <input matInput [(ngModel)]="a" (ngModelChange)="onChange()" inputmode="numerical">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>B</mat-label>
      <input matInput [(ngModel)]="b" (ngModelChange)="onChange()" inputmode="numerical">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>C</mat-label>
      <input matInput [(ngModel)]="c" (ngModelChange)="onChange()" inputmode="numerical">
    </mat-form-field>
  </div>


  <div class="equation-container">
    <ng-katex [equation]="equation"></ng-katex>
  </div>


</mat-card>


<mat-card>
  <h1>Delta</h1>
  <div class="equation-container">
    <ng-katex equation="\Delta = {{delta}}"></ng-katex>
  </div>
  <div class="info-container">
    <span *ngIf="delta >= 0">A função tem raízes reais.</span>
    <span *ngIf="delta < 0">A função não tem raízes reais.</span>
  </div>
</mat-card>


<mat-card>
  <h1>Raízes</h1>
  <div *ngIf="delta > 0">
    <div class="equation-container">
      <ng-katex equation="x_1 = {{x1}}"></ng-katex>
    </div>
    <div class="equation-container">
      <ng-katex equation="x_2 = {{x2}}"></ng-katex>
    </div>
  </div>
  <div *ngIf="delta == 0">
    <div class="equation-container">
      <ng-katex equation="x = {{x1}}"></ng-katex>
    </div>
  </div>
  <div *ngIf="delta < 0">
    <h2>A função não tem raízes reais.</h2>
  </div>
</mat-card>

<mat-card class="chart-container">
  <h1>Esboço do Gráfico</h1>
  <div class="graph-container">


    <ngx-charts-line-chart
      [results]="multi"
      [showGridLines]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
    >
    </ngx-charts-line-chart>
  </div>
  <div class="vertex-container">
    <h2>Vértice: ({{xv}}, {{yv}})</h2>
    <div class="vertex-container-spacer"></div>
    <h2 *ngIf="a > 0">{{yv}} valor mínimo</h2>
    <h2 *ngIf="a < 0">{{yv}} valor máximo</h2>
  </div>
  <div class="image-container">
    <h1>Conjunto imagem</h1>
    <div>
      <ng-katex *ngIf="a > 0" equation="Im(f) = \{ y \in {\rm I\!R} | y \ge {{yv}}\}"></ng-katex>
      <ng-katex *ngIf="a < 0" equation="Im(f) = \{ y \in {\rm I\!R} | y \le {{yv}}\}"></ng-katex>
    </div>
  </div>


</mat-card>

<div class="bottom-spacer"></div>


